@model Exchange.Model.ExNecessaryEmailData

@{
    Layout = "/Views/Email/_EMailBase.cshtml";
}

@section HeaderContent
 {
    <title>Zur&uuml;cksetzen Ihres Passworts!</title>
}

<!-- body -->
<table class="body-wrap" bgcolor=#f6f6f6>
    <tr>
        <td></td>
        <td class="container" bgcolor="#f6f6f6">
            <img src="fotec.jpg" width="200" height=90 />
            <br />
            <br />
            <br />
            <h3> Best&auml;tigen Sie ihren Account! </h3>
            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="text-align: left" font-family:Arial>
                                        <p>
                                            Sehr geehrte(r) Frau/Herr @Model.Firstname @Model.Lastname,<br /> wir haben ihre Anfrage auf Passwort&auml;nderung erhalten!<br />
                                            &Auml;ndern Sie Ihr Passwort über folgenden Link: @Model.Link <br />
                                            Nach erfolgreicher &Auml;nderung schicken wir Ihnen eine Best&auml;tigungemail.
                                        </p>
                                        <p>Mit freundlichen Gr&uuml&szligen,<br />ihr Team der Fotec!</p>
                                    </td>
                                </tr>
                            </table>
                            <br /><br />
                            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td style="text-align: center">
                                        <a href="https://www.fotec.at" /><img src="~/Content/fotec.jpg" width="100" height="45" />
                                    </td>
                                    <td style="padding-left: 30px; text-align: center">
                                        <a href="http://www.fhwn.ac.at" /><img src="~/Content/FH-Wiener-Neustadt-Logo.jpg" width="100" height="50" />
                                    </td>
                                </tr>
                            </table>
                            <style>
                                .img {
                                    border: 4px solid;
                                    border-color: #CBCBCB;
                                }

                                .btn-primary {
                                    background-color: #f6f6f6;
                                    border: 4px solid;
                                    border-color: #f6f6f6;
                                    left: auto;
                                    right: auto;
                                    vertical-align: central;
                                }
                            </style>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>

</table>