@page "/"
@page "/ViewMain"

<RadzenCard class="mt-2">
    <div class="row align-items-center">
        <div class="col-12 col-lg-7 px-5 py-3 text-center text-lg-left">
            <img src="Open3Toolbox.PNG" style="max-width:100%"/>
            <h3>Open³ Toolbox steht für Open Software, Open Hardware und Open Data. </h3>
            <p class="mb-2">In dieser Toolbox befindet sich somit eine Sammlung an Werkzeugen, die Möglichkeiten bieten, ohne erheblichen Programmieraufwand das passende IoT-System zusammenzustellen.</p>
            <p class="mb-2">Dies wird durch einen modularen Aufbau ermöglicht. Da sich die Problemstellungen, die mittels IoT-Systeme gelöst werden können, oft ähneln, können mithilfe weniger Module viele Lösungsansätze abgedeckt werden. Hierbei sollen nicht nur Module zur Erstellung der Systeme zur Verfügung stehen, sondern auch Module, die genutzt werden können, um die gesammelten Daten zu visualisieren.</p>
            
        </div>
        <div class="col-12 col-lg-5 px-5 text-center text-lg-right">
                                        
        </div>
    </div>
</RadzenCard>